<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Jobify</title>
</head>

<body>
    <div class="left-side">
        <header>
            <div class="logo"><img src="/images/logo.png" alt=""></div>
        </header>
        <main>
            <h1>Job <span class="sp-h1">Tracking</span>  App</h1>
            <p>I'm baby wayfarers hoodie next level taiyaki brooklyn cliche blue bottle single-origin coffee chia.
                Aesthetic post-ironic venmo, quinoa lo-fi tote bag adaptogen everyday carry meggings +1 brunch narwhal.
            </p>
            <a class="btn"  href="/login">Login/Register</a>
        </main>

    </div>
    <div class="right-side"><img src="/images/main.png" alt="images"></div>
</body>

</html>